<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="/signup.css">
  <link rel="stylesheet" href="/header.css">
  <script defer src="/signup.js"></script>
  <title>bk</title>
</head>

<body>
  <div class="wrap">
    <%- include('./header')%>
    <div class="container">
      <h1>SIGN UP</h1>
      <div class="signup_area">
        <form action="/user/signup" method="post" class="signup_form" id="signup_form" autocomplete="off">
          <div class="input_area">
            <label for="name">이름</label>
            <div>
              <input type="text" name="name" id="name" placeholder="이름" class="input" required>
            </div>
            <label for="emaiol">이메일</label>
            <div>
              <input type="email" name="email" id="email" placeholder="이메일" class="input" required>
            </div>
            <label for="password">비밀번호</label>
            <div>
              <input type="password" name="password" id="password" placeholder="비밀번호" class="input" required
                autocomplete="off">
            </div>
            <label for="pw_check">비밀번호 확인</label>
            <div>
              <input type="password" name="pw_check" id="pw_check" placeholder="비밀번호 확인" class="input" required
                autocomplete="off">
              <p id="check_text" class="check_text"></p>
            </div>
          </div>
          <button type="submit" id="signup_button" class="signup_button" disabled="true">회원가입하기</button>
        </form>
      </div>
      <div class="login_area">
        <div>
          <p>이미 회원이신가요?</p>
        </div>
        <div>
          <a href="/user/login" class="login_link">로그인하기</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>