@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Work+Sans:wght@500;600;700&display=swap');

html,
body {
  font-family: 'Noto Sans KR', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: white;
}

.wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_header {
  width: 70%;
  padding: 20px 0px 0px 0px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D7E2EB;
}

.logo_area {
  height: 80px;
  width: 80px;
  margin: 15px 30px 0px 0px;
}

.logo_area img {
  height: 80px;
  width: 80px;
}

.header_area {
  width: 90%;
}

.header_area h1 {
  margin: 30px 0px 15px;
}

.header_area h3 {
  margin: 0px 0px 20px;
  font-weight: 400;
  color: #98A8B9;
}

.apply_area {
  display: flex;
  align-items: center;
}

.apply_area button {
  height: 45px;
  width: 110px;
  margin-top: 25px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: #006577;
  border: 1.5px solid #D7E2EB;
  border-radius: 5px;
}

.content_body {
  margin-top: 35px;
  width: 850px;
  display: flex;
  flex-direction: column;
}

.apply_ul {
  margin: 0px 0px 35px 0px;
  padding: 10px 0px 10px 0px;
  list-style: none;
  border-top: 1px solid #D7E2EB;
  border-bottom: 1px solid #D7E2EB;
}

.sub_title {
  width: 280px;
  font-size: 21px;
  font-weight: 500;
  margin: 0px 0px 10px;
  display: flex;
}

.apply_li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.apply_li label {
  font-size: 18px;
  font-weight: 500;
}

.label_div {
  width: 80px;
}

.apply_li input {
  width: 200px;
  padding: 7px 10px 3px;
  margin: 10px 0px;
  font-size: 18px;
  background-color: #d7e2eb2e;
  border: none;
  border-bottom: 1px solid #D7E2EB;
  border-radius: 3px;
  outline: none;
}

.apply_li #address {
  width: 500px;
}

.resume_area {
  width: 700px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.resume_input {
  width: 800px;
  padding: 10px 0px;
  margin-bottom: 5px;
  font-size: 17px;
}

.resume_input::-webkit-file-upload-button {
  height: 35px;
  width: 85px;
  margin-right: 10px;
  padding-top: 3px;
  font-size: 17px;
  font-weight: 500;
  background-color: #d7e2eb2e;
  border: 1px solid #D7E2EB;
  border-radius: 5px;
}